html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 0, 255);
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgb(11, 0, 53);
    border: 7px solid rgb(0, 27, 116);
}


nav {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}

nav a:not(:last-child) {
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: rgba(255, 0, 255, 0.651);
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-of-type(1) {
    background-color: rgba(179, 255, 91, 0.904);
}

section:nth-of-type(2) {
    background-color: rgba(91, 168, 255, 0.904);
}

section:nth-of-type(3) {
    background-color: rgba(241, 91, 255, 0.904);
}